.training_details_text_section_container {
  width: 40vw;
  height: 80vh;
}

.training_details_text_section_title {
  color: var(--accent);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: Montserrat;
}

.training_details_text_section_label {
  color: var(--black);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.training_details_text_section_info {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--secondaryText);
}

.training_details_text_section_metaData {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 0.2rem solid var(--accent);
}
