.training_details_image_container {
  width: 40vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--black);
  border-radius: 1rem;
}

.training_details_image {
  max-width: 40vw;
  max-height: 80vh;
}

@media screen and (max-width: 760px) {
  .training_details_image_container {
    width: 80vw;
    height: 40vh;
  }

  .training_details_image {
    max-width: 80vw;
    max-height: 40vh;
  }
}
